* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #000000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #000E26;
}

body {
    padding-top: 60px;
}

#logo-hc {
    padding-left: 10px;
    background-color: transparent;
    width: 50px;
    height: 50px;
}

.nav-header {
    background-color: transparent;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
    color: white;
}

.nav-header ul {
    display: flex;
    background-color: transparent;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-weight: bold;
    font-size: 14px;
    gap: 20px;
}

.nav-header li, a {
    background-color: transparent;
    border-bottom: none;
    transition: all ease 0.3s;
}

.nav-header li:hover {
    cursor: pointer;
    border-bottom: solid white 3px;
    transform: scale(1.1);
}

.nav-header li:active {
    color: rgb(162, 162, 162);
    transform: scale(0.90);
    transform: translateY(2px);
    filter: brightness(0.5);
    border-bottom: 0;
}

#contact {
    color: black;
    padding: 7px;
    border-radius: 7px;
    background-color: white;
} 

#contact:hover {
    border: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10px;
}

#logo-souza {
    padding: 0;
    padding-top: 5em;
    padding-bottom: 5em;
    margin: 0;
    width: 50rem;
}

main h1 {
    justify-content: center;
}

section {
    margin-top: 50px;
    width: 100%;
    height: 200px;
    display: flex;
    background-color: #000E26;
}

.carousel {
    background-color: transparent;
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
}

.group {
    width: max-content;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    animation: spin linear 20s infinite;
}

.card {
    background-color: transparent;
    flex: 0 0 20em;
    object-fit: cover;
    scroll-snap-align: center;
}

.card img {
    width: 12em;
    background-color: transparent;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -50%;}
}

footer div {
    display: flex;
    background-color: red;
    width: 100%;
    height: 100px;
    color: white;
    font-size: 0.5rem;
}

footer img {
    width: 10rem;
}